<launch>
<arg name="stereo" default="stereo" />
<arg name="image" default="image_rect_color" />

<group ns="stereo">
  <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="true" output="screen">
	<param name="approximate_sync" value="true" />
	<param name="queue_size" value="2000" />
  </node>
</group>


<node name="image_view" pkg="image_view" type="stereo_view" output="screen">
	<param name="approximate_sync" value="true" />
	<param name="queue_size" value="2000" />
	<remap from="stereo" to="$(arg stereo)" />
    <remap from="image" to="$(arg image)" />
</node>
</launch>


