<launch>

<arg name="stereo" default="stereo" />
<arg name="image" default="image_rect_color" />

<group ns="stereo">
  <node name="left" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
	<param name="camera_name" value="left" />
    <param name="camera_frame_id" value="left_id" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="right" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
	<param name="camera_name" value="right" />
    <param name="camera_frame_id" value="right_id" />
    <param name="io_method" value="mmap"/>
  </node>
</group>
</launch>

<!--
ROS_NAMESPACE=stereo rosrun stereo_ima_proc stereo_image_proc _approximate_sync:=True _queue_size:=2000
rosrun image_view stereo_view stereo:=tereo image:=image_rect_color _approximate_sync:=True _queue_size:=2000
-->
